@import "../../colors";

.messageBox {
    position: fixed;
    bottom: 0;
    right: 0px;
    z-index: 3;
    padding: 10px 25px;
    width: 300px;
    background-color: $primary;
    border-top: 1px solid $secondary;
    border-left: 1px solid $secondary;
    border-right: 1px solid $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    transition: .3s ease;

    &:hover{
        background-color: $secondary;
    }

    .messageTitle {
        display: flex;
        align-items: center;
        font-size: 1rem;
        text-transform: lowercase;
        width: 100%;
        gap: 60px;

        svg {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 800px) {
    .messageBox {
        display: none;
    }
  }

